
.item_college a img {
    width: 280px;
    height: 280px;
    box-shadow: -4px -3px 11px 3px #000000;
    /*border: 4px solid #000000;*/
    border-radius: 50%;
    margin-bottom: 7px;


}



.item_college {
    float: left;
    margin-left: 65px;
    margin-top: 10px;
    width:280px;
    margin-top: 20px;
}

.item_college a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
}

.item_college a:hover {
    opacity: 0.6;
}

.item_college a {
    color: #000000;
    text-decoration: none;
    font: 20px arial;

}


@media(max-width: 1230px) {

    .item_college a img {
        width: 240px;
        height: 240px;
        box-shadow: -4px -3px 11px 3px #000000;

        border-radius: 50%;
        margin-bottom: 7px;


    }


    .item_college {
        float: left;
        margin-left: 65px;
        margin-top: 10px;
        width:240px;
        margin-top: 20px;
    }
}


@media(max-width: 991px) {

    .item_college a img {
        width: 180px;
        height: 180px;
        box-shadow: -4px -3px 11px 3px #000000;
        /*border: 4px solid #000000;*/
        border-radius: 50%;
        margin-bottom: 7px;


    }


    .item_college {
        float: left;
        margin-left: 45px;
        width:180px;
        margin-top: 20px;
    }
}


@media(max-width: 750px) {

    .item_college a img {
        width: 130px;
        height: 130px;
        box-shadow: -4px -3px 11px 3px #000000;
        border-radius: 50%;
        margin-bottom: 7px;


    }


    .item_college {
        float: left;
        margin-left: 35px;
        width: 130px;
        margin-top: 20px;
    }
}



@media(max-width: 390px) {
    .item_college a img {
        width: 90px;
        height: 90px;
    }

    .item_college {
        float: left;
        margin-left: 10px;
        width: 130px;
        margin-top: 20px;
    }

    .item_college a {

        font: 14px arial;

    }

}