table {
    margin-top: 40px;
}

.table-header tr th {
    font: bold 20px arial;
    color: #000000;
}
.shoppingCart tr {
    border-bottom: 1px solid #d6d4d4;
}

.shoppingCart tr td {
    width: 200px !important;
}

.shoppingCart tr td a img {
    border: 2px solid #000000;
    height: 150px;
    width: 115px;
    margin-top: 10px;
    position: relative;
    left: 20px;
}

.shoppingCart tr td a img:hover {
    opacity: 0.6;
}


.info_product div{
    margin-top: 10px;
    position: relative;
    right: 10px;
}

.info_product div a {
    font: 18px arial;
    text-decoration: none;
    color: #000000;

}

.info_product div a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.info_product div p {
    color: #000000;
    margin-top: 10px;
    font: 14px arial;
}

.info_product div button {
    color: #000000;
    border: 1px solid #c9c9c9;
    background-color: #FFFFFF;
    font: 17px arial;
}

.info_product div button:hover {
    opacity: 0.6;
}

.totalQty{
    font: 18px arial;
    color: #000000;
}

.cart_footer {
    padding-top: 50px;
    height: 233px;
}


.float_rigth {
    float: right;

}

.sumshop {
    margin-left: 60px;
}

.sumshop>span {
    margin-left: 60px;
}

.sumshop span {
    color: #000000;
    font: 18px arial;
}

.button_cart p{
    color: #000000;
    font: italic 12px arial;
    margin-top: 20px;
    margin-left: 60px;

}

.button_cart div{
    margin-top: 20px;
}

.button_cart div a {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #c9c9c9;
    font: 16px arial;
    height: 40px;
    padding-top: 10px;

}

.button_cart div a:hover {
    opacity: 0.6;
}

.button_cart div input {
    margin-left: 20px;
    background-color: #000000;
    color: #FFFFFF;
    font: 16px arial;
    height: 40px;
}

.button_cart div input:hover {
    color: #FFFFFF;
    opacity: 0.6;
}